@page "/Connections"
@rendermode InteractiveServer

<PageTitle>Active connections</PageTitle>

<CascadingAuthenticationState>
    <AuthorizeView Roles="Admin">
        <Authorized>
            <ConnectionsView />
        </Authorized>
        <NotAuthorized>
            <h4>Only authorized admin users can see this page.</h4>
        </NotAuthorized>
    </AuthorizeView>
</CascadingAuthenticationState>