@page "/Connections"
@rendermode InteractiveServer

<PageTitle>Active connections</PageTitle>

<AuthorizeView Policy="manage-connections">
    <Authorized>
        <ConnectionsView />
    </Authorized>
    <NotAuthorized>
        <h5 class="text-center">Only authorized admin users can see this page.</h5>
    </NotAuthorized>
</AuthorizeView>