[*.cs]
# Suggest more modern language features when available
dotnet_style_object_initializer = true:suggestion
dotnet_style_collection_initializer = true:suggestion
dotnet_style_coalesce_expression = true:suggestion
dotnet_style_null_propagation = true:suggestion
dotnet_style_explicit_tuple_names = true:suggestion

csharp_space_within_parentheses = false
csharp_space_after_keywords_in_control_flow_statements = false
csharp_space_before_open_square_brackets = false
csharp_space_between_square_brackets = false
csharp_space_within_empty_braces = false
csharp_space_within_single_line_array_initializer_braces = false