bin/
obj/
.DS_Store
.vs/
_ReSharper.Caches/
*.csproj.user
*.user
*.pfx
*.crt
*.key
**/nupkg
**/BenchmarkDotNet.Artifacts/*
**/*.db*
System.Net.Mqtt.Benchmarks/*.asm
artifacts
node_modules
**/package-lock.json
Mqtt.Server.Web/wwwroot/css/app.min.css
