@page "/"
@inject System.Net.Mqtt.Server.IMqttServer Server
@implements IDisposable

<PageTitle>MQTT Server Statistics</PageTitle>

@if (@statistics is null)
{
    <div>Server doesn't provide statistics data.</div>
    return;
}

<div class="grid-auto">
    <div class="border p-2 rounded-2 bg-light text-truncate">
        <h6>Bytes received</h6>
        @statistics.GetBytesReceived()
    </div>
    <div class="border p-2 rounded-2 bg-light text-truncate">
        <h6>Bytes sent</h6>
        @statistics.GetBytesSent()
    </div>
    <div class="border p-2 rounded-2 bg-light text-truncate">
        <h6>Packets received</h6>
        @statistics.GetPacketsReceived()
    </div>
    <div class="border p-2 rounded-2 bg-light text-truncate">
        <h6>Packets sent</h6>
        @statistics.GetPacketsSent()
    </div>
</div>

@code {
    private IProvideDataStatistics? statistics;
    private PeriodicTimer periodicTimer = new PeriodicTimer(TimeSpan.FromSeconds(2));

    async Task StartRefreshTaskAsync()
    {
        while (await periodicTimer.WaitForNextTickAsync())
        {
            StateHasChanged();
        }
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        statistics = Server.GetFeature<IProvideDataStatistics>();
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (firstRender)
        {
            _ = StartRefreshTaskAsync();
        }
    }

    public void Dispose()
    {
        periodicTimer.Dispose();
    }
}