<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#da532c">
    <base href="/" />
    <link rel="stylesheet" href="_content/Mqtt.Server.Web/css/bootstrap.min.css" />
    <link rel="stylesheet" href="_content/Mqtt.Server.Web/css/site.css" />
    <link rel="stylesheet" href="_content/Mqtt.Server.Web/Mqtt.Server.Web.bundle.scp.css" />
    <link rel="manifest" href="_content/Mqtt.Server.Web/site.webmanifest">
    <link rel="icon" type="image/svg+xml" href="_content/Mqtt.Server.Web/favicon.svg">
    <link rel="apple-touch-icon" sizes="180x180" href="_content/Mqtt.Server.Web/apple-touch-icon.png">
    <link rel="mask-icon" href="_content/Mqtt.Server.Web/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="icon" type="image/png" sizes="32x32" href="_content/Mqtt.Server.Web/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="_content/Mqtt.Server.Web/favicon-16x16.png">
    <HeadOutlet @rendermode="@RenderMode.InteractiveServer" />
</head>

<body>
    <Routes @rendermode="@RenderMode.InteractiveServer" />

    <div id="blazor-error-ui">
        An error has occurred. This application may no longer respond until reloaded.
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.web.js"></script>
</body>

</html>