[Unit]
Description=MQTT Server Service
After=network.target

[Service]
Type=notify
WorkingDirectory=/usr/bin/mqttd
ExecStart=/usr/bin/mqttd/mqtt.server
Restart=always
RestartSec=10
KillSignal=SIGINT
SyslogIdentifier=mqttd
User=mqtt-daemon
Group=mqtt-daemon
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_PRINT_TELEMETRY_MESSAGE=false

[Install]
WantedBy=multi-user.target