@inherits LayoutComponentBase
@layout MainLayout

<h3>Manage your account</h3>

<div>
    <h4>Change your account settings</h4>
    <hr />
    <div class="row">
        <div class="lg:w-[25%] lg:flex-none">
            <ManageNavMenu />
        </div>
        <div class="lg:flex-[1]">
            @Body
        </div>
    </div>
</div>